TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_channel_or_chat_id_here

SUPABASE_URL=
SUPABASE_KEY=

DEX_NETWORKS=ethereum,bsc,solana,base,arbitrum
MIN_LIQUIDITY_USD=10000
MIN_VOLUME_24H_USD=5000
